.menu-item{
  display: inline-block;
  margin: 10px;
  float: left;
}


.grid {
  display: inline-block;
  width: 275px;
}

.grid figure {
  margin-bottom: 10px;
  position: relative;
  float: left;
  overflow: hidden;
  background: #323232;
  text-align: center;
  cursor: pointer;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;

}

.grid figure img {
  display: block;
  width: 100%;
}

.grid figure figcaption {
  padding: 5%;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 57%;
}

/* Individual effects */

figure.slideIn_effect {
  background: #2f3238;
  margin: auto;
  width:275px;
  height:275px;

}

figure.slideIn_effect img {
  position:absolute;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: -100%;
  bottom: -100%;
  margin: auto;
}

figure.slideIn_effect figcaption {
  text-align: left;
  width:90%;
  height:90%;
}

figure.slideIn_effect p {
  display: inline-block;
  float:top;
  margin: 0.1em 0.1em 0.4em;
  padding: 0.5em 1em;
  background: rgba(35, 33, 32, 0.73);
  color: #fff;
  text-transform: none;
  font-weight: 200;
  font-size: 0.5em;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-360px,0,0);
  transform: translate3d(-360px,0,0);
}

figure.slideIn_effect p {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}


figure.slideIn_effect:hover p {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}


figure.slideIn_effect:hover img {
  -webkit-transform: scale3d(1.1,1.1,1);
  transform: scale3d(1.1,1.1,1);
}

figure.slideIn_effect:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
p.item-description {
  border-radius: 5%;
  padding: 8em 1.2em 1.2em 1.2em;
  font-size: 1em;
  background-color: #9E4669;
  line-height: 1.35em;
  color:#ffffff;
  font-weight: bolder;
  text-align: left;
  /*float:left;*/
}

button{
  background-color: #ffffff;
  color: #72062B;
  margin-right: 6px;
  float:right;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover{
  background-color: #bfbfbf;
  color: white;
}

button.selected{
  background-color: #bfbfbf;
  color: white;
}

